<nav class="bg-purple-300 shadow-xl py-4">
  <div class="flex justify-between items-center max-w-6xl mx-auto px-8">
    <div class="flex items-center bg-white px-2 pt-2 rounded-2xl shadow-md">
      <img src="pokemon-logo.png" alt="Pokemon Logo" class="h-10 w-auto">
    </div>
    <div class="bg-white px-6 py-3 rounded-2xl shadow-md">
      <ul class="flex space-x-6">
        @for (menu of menus; track menu) {
          <li>
            <a [routerLink]="menu.path" class="text-gray-800 font-medium hover:text-purple-600 transition-colors duration-300">{{ menu.name }}</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
