<h2 class="text-xl font-bold text-gray-800 mb-4 mt-2">Counter</h2>

<div class="flex items-center justify-between gap-4">
  <!-- Left side - Increment buttons -->
  <div class="flex space-x-3">
    <app-button variant="primary" size="md" (buttonClick)="increment(1)"> +1 </app-button>
    <app-button variant="primary" size="md" (buttonClick)="increment(2)"> +2 </app-button>
    <app-button variant="primary" size="md" (buttonClick)="increment(3)"> +3 </app-button>
  </div>

  <!-- Right side - Counter and reset -->
  <div class="flex items-center space-x-4">
    <span class="text-3xl font-bold text-purple-800">{{ count }}</span>
  </div>
  <app-button variant="danger" size="md" (buttonClick)="reset()"> Reset </app-button>
</div>
